{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home | ThingPrint{% endblock title %} {% block content %}
<div class="item-container">
    <div class="wrapper">
        {% for thing in things %}
        <div onclick="location.href='/thing/{{thing.id}}'" class="item">
            <div class="thing-image-wrapper">
                {% if thing.image %}
                <img class="thing-image" src="/staticfiles/images/thing_files/{{thing.image}}" alt="">
                {% else %}
                <img class="thing-image" src={% static 'images/site_files/noimage.png'  %} alt="">
                {% endif %}
            </div>
            <h1 class="thing-title">{{thing.title}}</h1>
            {% if thing.price == 0 %}
                <p class="thing-price">Price: Free</p>
            {% else %}
                <p class="thing-price"><span class="price-span">€{{thing.price}}</span></p>
            {% endif %}
        </div>
        {% empty %}
        <div class="center">
        <h1>No Things...</h1>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
